body {
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, nav a {
	font-weight: 500;
}

.date {
  opacity: 0.6;
}


hr {
  border: none;               /* Removes the default gray 3D border */
  border-top: 1px solid #dfdfdd;
}